html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
   background-image: url('/images/background12.png');
   background-repeat: no-repeat;
   background-size: cover;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   line-height: 1.5;
}

a {
    text-decoration: none;
}

h2 {
    color: white;
}

hr {
    border: none; 
    height: 0.5px; 
    background-color: rgb(128, 128, 128,0.6);
}

.pointer-none {
    pointer-events: none;
}

.black-text {
   color: black !important;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.pb-20 {
    padding-bottom: 20px;
}

.center {
    width: 80%;
    margin: auto;
}

.f12{
    font-size: 12px;
}

.w-50 {
    width: 50%;
}

.ft-normal {
    font-weight: normal;
}

input::placeholder {
   font-size: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row-start {
    display: flex;
    justify-content: start;
}

#header {
    width: 81%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 12px;
    color: #979797;
    align-items: end;
    padding: 10px 11px 10px 0;
}

#header a {
   color: #979797;
   pointer-events: visible;
}


.seperator {
    display: flex;
    align-items: center;
}

.cart {
    align-items: center;
    display: flex;
}

.cart img {
    margin-bottom: 4px;
    margin-right: 5px;
}

.cart span {
    padding-left: 8px;
}

.seperator a:not(:last-child)::after {
    content: '|';
    padding : 0 10px;
    color: #979797;
}

#navbar-wrapper {
    width: 100%;
    height: 40px;
    background-color: #dbd9da;
    padding: 1px 0;
    box-sizing: border-box;
    align-items: center;
}

#navbar {
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   height: 38px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
}

#navbar li:not(:last-child) {
    padding: 8px 10px;
    border-right: 1px solid white;
}

#link-input-wrapper {
    background-color: #f0f0f0; 
    padding: 10px;
}

.link-container {
    display: flex; 
    align-items: center;
    width: 80%;
    margin:0 auto;
    justify-content: space-between;
    padding:0 6px 0 0;
    box-sizing: border-box;
}

.link {
    text-decoration: none; 
    margin: 0 6px; 
    padding: 5px 0;
}

.divider {
    height: 36px;
    width: 2px;
    background-color: white;
}

#registry-section {
    width: 80%;
    margin: auto;
    align-items: center;
    box-sizing: border-box;
}

.circle {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #a0aab8;
    pointer-events:none;
    margin: 2px 8px;
}

#offers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4px 0 0;
    margin-left: 0;
    padding-left: 6px;
    color: #a0aab8;
}

#registry {
    display: flex;
    padding-right: 30px;
    color: #a0aab8;
}

#reciepe-section-wrapper {
   background-color: white;
   margin-top: 10px;
   box-sizing: border-box;
}

#reciepe-section {
    padding: 6px;
    display: flex;
}

#reciepe-section img{
    width: 75%;
    
}

#table-wrapper {
    background-color: #3e3d3b;
    width: 25%;
    margin-left: 4px;
    padding: 8px;
}

#table {
    border: 1px solid grey;
    height: 100%;
    box-sizing: border-box;
    color: rgba(255, 255, 255,0.7);
    padding: 30px;
    text-align: start;
}

#event-description {
    color: #8b8b89;
}

#table a {
    font-size: 12px;
    text-decoration: underline;
    color: #8b8b89;
}

#promo-section-wrapper {
    background-color: black;
    padding: 5px;
    box-sizing: border-box;
}

#promo-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}

.image-container {
    position: relative;
    flex: 1; 
    margin:0 ;
}

.image-container img {
    width: 100%;
    height: 200px;
}

.overlay-text {
    position: absolute;
    top: 10px; 
    left: 10px; 
    padding:0px 5px; 
    font-size: 14px;
}

.right-bg-img  {
    width: 60%  !important;
    height: 90% !important;
    position: absolute;
    right: 0;
    bottom: 0;
}

.vertical-line {
    width: 1px;
    background-color: rgb(128, 128, 128,0.4);
    margin: 8px 0 ;
}

.promo-link {
    display: block;
    margin-top: 10px;
    color: rgb(0, 0, 128,0.6); 
    text-decoration: none;
  
}

.align-start {
    text-align: start;
}

.align-end {
    text-align: end;
}

#footer {
    padding-bottom: 100px;
    padding-top: 8px;
}

#footer-links a {
    color: white;
    opacity: 0.4;
    text-decoration: underline;
    margin: 0 0 8px 0;
}

#footer p {
    color: white;
    opacity: 0.4;
    margin: 0 0 4px 0;
}

#footer a {
    color: white;
    text-decoration: underline;
}

#right-content p {
    margin-bottom:8px;
}

.inputText {
   height: 20px;
   margin-right: 4px;
   border: 1px solid white;
   border-left: 1px solid black;
   border-top: 1px solid black;
}

.btn {
    height: 20px;
    font-size: 12px;
    border-radius: 6px;
    border: 1px solid black;
    text-transform: uppercase;
}

.text-primary {
    color: rgb(0, 0, 0,0.9);
    font-size: 16px;
}

.text-secondary {
    color: grey;
}

